<div class="container">
  <div class="select-container">
    <app-select
      [optionsData]="timelineSelectOptions"
      [(selectValue)]="timelineSelectValue"
      (selectValueChange)="selectValueChangeHandler($event)"
    />
  </div>

  <p class="info">
    Weather forecast for
    <strong>
      {{ cityName }}
    </strong> 
    <small *ngIf="tableBodyData.length > 0">
      ({{ dateRange[0] }} - {{ dateRange[1] }})
    </small>
  </p>

  <div class="table-container">

    <table
      class="table table-striped"
      *ngIf="tableBodyData.length > 0"
    >

      <thead>
        <tr>
          <th
            scope="col"
            *ngFor="let label of tableHeaderData"
          >
            {{ label }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let row of paginatedTableBodyData"
          [ngClass]="{ 'end': row[1].includes('23:00') }"
        >
          <td
            scope="row"
            *ngFor="let item of row"
          >
            {{ item }}
          </td>
        </tr>
      </tbody>

    </table>
    
  </div>

  <app-paginator
    [values]="paginatorValues"
    [(selectedPage)]="selectedPage"
  />

</div>
